<!-- -------------------------------- Header ----------------------------------- -->
<div ng-include="'modules/client/components/header.html'"></div>
<!-- ------------------------------------------------------------------- -->
<section>
	<div style="position: absolute; z-index: 20; left: 0px; top: 60px; text-align: center; width: 100%;">
		<img
			class="am-animation-scale-up"
			style="width: 40%; max-width: 200px;"
			src="resources/icons/favicon.png">
		<br>
		<hr>
		<strong class="am-text-xxl">
			Shanghai Canteen
			<span class="am-badge"> 1.0 </span>
		</strong>
		<div class="am-animation-fade">
			<span class="am-text-xs">Part of Labs China SMARTLabs initiative</span>
		</div>
		<br>
		<div class="am-animation-scale-up">
			<strong>Canteen Manager</strong>
			<br>
			<span class="am-text-xs"> Lulu Lu</span>
		</div>
		<br>
		<div class="am-animation-scale-up">
			<strong>Telephone</strong>
			<br>
			<span class="am-text-xs">
				<em>
					<a href="tel: 61083401">61083401</a>
				</em>
			</span>
		</div>
		<br>
		<div class="am-animation-scale-up">
			<strong>E-mail</strong>
			<br>
			<span class="am-text-xs">
				<a href="mailto: lulu.lu@compass-group.com.cn">lulu.lu@compass-group.com.cn</a>
			</span>
		</div>
		<br>
		<br>
	</div>
</section>