<!-- ========================== Modal - Confirm ===================== -->
<div id="modal-confirm" class="am-modal am-modal-confirm" tabindex="-1">
	<div class="am-modal-dialog">
		<div class="am-modal-hd am-text-warning">
			<strong id="modal-confirm-title"></strong>
		</div>
		<div class="am-modal-bd">
			<span id="modal-confirm-msg"></span>
		</div>
		<div class="am-modal-footer">
			<span id="modal-confirm-cancel" class="am-modal-btn am-u-sm-6" data-am-modal-cancel></span> <strong
				id="modal-confirm-ok" class="am-modal-btn am-u-sm-6" data-am-modal-confirm></strong>
		</div>
	</div>
</div>